/*   Slice 1 / 8		Color & Background & Borders Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Color
	color	
	opacity
________________________________
Background 
	background 
	background-attachment
	background-blend-mode
	background-color
	background-image
	background-position
	background-repeat
	background-clip
	background-origin
	background-size
________________________________
Border
	border
	border-bottom
	border-bottom-color
	border-bottom-left-radius
	border-bottom-right-radius
	border-bottom-style
	border-bottom-width
	border-color
	border-image
	border-image-outset
	border-image-repeat
	border-image-slice
	border-image-source
	border-image-width
	border-left
	border-left-color
	border-left-style
	border-left-width
	border-radius
	border-right
	border-right-color
	border-right-style
	border-right-width
	border-style
	border-top
	border-top-color
	border-top-left-radius
	border-top-right-radius
	border-top-style
	border-top-width
	border-width
	box-decoration-break
	box-shadow
________________________________
*/
/*COLOR-SCHEME============================================================*/
/*HEX*/
$c-txt-main: #d5d7d8;
$c-txt-auxiliary: #8e8e8e;
$c-txt-attention: #cc181e;
$c-link: #2793e8;

$c-bgr-main: #050505;
$c-bgr-auxiliary: #0F0F0F;
$c-bgr-attention: #1c1c1c;

/*++++++++++++++++++++++++++++++++++++*/
/*RGBA*/
/*
$c-txt-main: rgba(213, 215, 216, 1);
$c-txt-auxiliary: rgba(142, 142, 142, 1);
$c-txt-attention: rgba(204,24,30, 1);
$c-link: rgba(39,147,232, 1);

$c-bgr-main: rgba(0,0,0, 1);
$c-bgr-auxiliary: rgba(15,15,15, 1);
$c-bgr-attention: rgba(28, 28, 28, 1);
*/
/*RESET====================================================================*/

/*BASIC STYLE==============================================================*/
.attentionColor {
  color: $c-txt-attention;
}
.mainColor {
  color: $c-txt-auxiliary;
}

.bodyColor {
  color: $c-link;
}
/*HEADER===================================================================*/

/*MAIN=====================================================================*/

/*FOOTER===================================================================*/




