/*   Slice 7 / 8		Selectors
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Selectors
	:active
	::after
	::before
	:checked
	:disabled
	:empty
	:enabled
	:first-child
	::first-letter
	::first-line
	:first-of-type
	:focus
	:hover
	:in-range
	:invalid
	:lang(language)
	:last-child
	:last-of-type
	:link
	:not(selector)
	:nth-child(n)
	:nth-last-child(n)
	:nth-last-of-type(n)
	:nth-of-type(n)
	:only-of-type
	:only-child
	:optional
	:out-of-range
	:read-only
	:read-write
	:required
	:root
	::selection
	:target
	:valid
	:visited
________________________________
*/
/*RESET====================================================================*/

/*BASIC STYLE==============================================================*/

/*HEADER===================================================================*/

/*MAIN=====================================================================*/

/*FOOTER===================================================================*/