/*   Slice 2 / 8		Basic Box Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Display Position Z-index Clear Vertical-align
	display
	float
	position
	z-index
	left
	right
	top
	bottom
	clear
	clip
	vertical-align
________________________________
Width & Height Margin & Padding
	width
	max-width
	min-width
	height
	max-height
	min-height
	margin
	margin-bottom
	margin-left
	margin-right
	margin-top
	padding
	padding-bottom
	padding-left
	padding-right
	padding-top
________________________________
Overflow Visibility
	overflow
	overflow-x
	overflow-y
	visibility
________________________________
*/
/*RESET===================================================================*/
html, body,
ul,
h1, h2, h4, h3, h5, h6, p,
hr,
figure {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.auto {
  margin: auto;
}

/*BASIC STYLE==============================================================*/

/*HEADER===================================================================*/

/*MAIN=====================================================================*/

/*FOOTER===================================================================*/
