/*   Slice 6 / 8		Animation & Transform & Transition & User Interface Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Animation
	@keyframes{}
	animation
	animation-delay
	animation-direction
	animation-duration
	animation-fill-mode
	animation-name
	animation-play-state
	animation-timing-function
________________________________
Transform
	backface-visibility
	perspective
	perspective-origin
	transform
	transform-origin
	transform-style
________________________________
Transitions
	transition
	transition-property
	transition-duration
	transition-timing-function
	transition-delay
________________________________ 
for User Interface
	box-sizing
	content
	cursor
	ime-mode
	nav-down
	nav-index
	nav-left
	nav-right
	nav-up
	outline
	outline-color
	outline-offset
	outline-style
	outline-width
	resize
	text-overflow
________________________________
*/
/*RESET======================================================================*/
.a_pointer {
  cursor: pointer;
}

/*ANIMATION================================================================*/
.a_both {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

/*TRANSFORM================================================================*/
.a_rot-180 /*transform rotate 180*/
{
  transform: rotate(180deg);
}

.a_scale /*transform scale Big*/
{
  transform: scale(1.5);
}

.a_scale-med /*transform scale Med*/
{
  transform: scale(1.2);
}

/*TRANSITION================================================================*/
.a_easy /*transition ease-in-out*/
{
  transition: all .7s ease-in-out;
}

.a_easy_sl /*transition ease-in-out slow*/
{
  transition: all .3s ease-in-out;
}

.a_trans_linear_sl /*transition linear*/
{
  transition: all .5s linear;
}

/*@KEYFRAMES=================================================================*/
