/*   Slice 3 / 8		Flex Box Properties & Grid
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
	flex-flow
	flex-direction
	flex-wrap
	justify-content	
	align-items
	align-content
________________________________
for Flex Item
	align-self
	flex
	flex-grow
	flex-shrink
	flex-basis
	order
________________________________
*

/*FLEX ROW WRAP=================================================================*/
.fr_b_ee, .fr_c_ee, .fr_b_ss, .fr_a_hh, .fc_b_cc, .fr_e_ss, .fr_e_ee, .fr_e_cc, .fr_s_hh, .fr_e_hh, .fr_c_hh, .fr_b_hh, .fr_s_ss, .fr_s_cc, .fr_c_ss, .fr_c_cc, .fr_a_cc, .fr_b_cc, .fr_a_ss {
  display: flex;
  flex-wrap: wrap;
}

/*FLEX ROW NO WRAP===============================================================*/
.frn_s_cc {
  display: flex;
}

/*FLEX COLUMN WRAP===============================================================*/
.fc_b_cc, .fc_c_hh, .fc_c_cc, .fc_b_hh, .fc_c_ee, .fc_a_cc {
  display: flex;
  flex-flow: column wrap;
}

/*FLEX COLUMN NO WRAP============================================================*/
.fcn_b_cc, .fcn_a_cc, .fcn_c_cc {
  display: flex;
  flex-flow: column nowrap;
}

/*FLEX JUSTIFY-CONTENT===========================================================*/
.fr_s_ss, .fr_s_hh, .fr_s_cc, .frn_s_cc {
  justify-content: flex-start;
}

.fr_e_hh, .fr_e_cc, .fr_e_ee, .fr_e_ss {
  justify-content: flex-end;
}

.fr_c_cc, .fr_c_hh, .fr_c_ss, .fr_c_ee,
.fc_c_hh, .fc_c_cc, .fc_c_ee, .fcn_c_cc {
  justify-content: center;
}

.fr_b_cc, .fr_b_hh, .fc_b_hh, .fc_b_cc, .fr_b_ss, .fcn_b_cc, .fr_b_ee {
  justify-content: space-between;
}

.fr_a_ss, .fr_a_cc, .fr_a_hh, .fcn_a_cc, .fc_a_cc {
  justify-content: space-around;
}

/*FLEX ALIGN-ITEMS==============================================================*/
.fr_a_ss, .fr_c_ss, .fr_s_ss, .fr_e_ss, .fr_b_ss {
  align-items: flex-start;
}

.fc_c_ee, .fr_e_ee, .fr_c_ee, .fr_b_ee {
  align-items: flex-end;
}

.fc_a_cc, .fr_c_cc, .fr_b_cc, .fr_a_cc, .fr_s_cc, .fc_c_cc, .frn_s_cc, .fr_e_cc, .fc_b_cc, .fcn_b_cc, .fcn_a_cc, .fcn_c_cc {
  align-items: center;
}

.fr_s_hh, .fr_e_hh, .fr_c_hh, .fr_b_hh, .fc_c_hh, .fc_b_hh, .fr_a_hh {
  align-items: stretch;
}

/*FLEX ALIGN-CONTENT============================================================*/
.fr_a_ss, .fr_c_ss, .fr_s_ss, .fr_e_ss, .fr_b_ss {
  align-content: flex-start;
}

.fc_c_ee, .fr_e_ee, .fr_c_ee, .fr_b_ee {
  align-content: flex-end;
}

.fc_a_cc, .fr_c_cc, .fr_b_cc, .fr_a_cc, .fr_s_cc, .fc_c_cc, .frn_s_cc, .fr_e_cc, .fc_b_cc, .fcn_b_cc, .fcn_a_cc, .fcn_c_cc {
  align-content: center;
}

.fr_s_hh, .fr_e_hh, .fr_c_hh, .fr_b_hh, .fc_c_hh, .fc_b_hh, .fr_a_hh {
  align-content: stretch;
}

/*FLEX ALIGN-SELF===============================================================*/
.fals_s {
  align-self: flex-start;
}

.fals_e {
  align-self: flex-end;
}

.fals_c {
  align-self: center;
}

.fals_h {
  align-self: stretch;
}

/* ================================================================ */
.ord-1 {
  order: -1;
}

/* ================================================================ */

